<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="MathNet.Filtering" version="0.6.0" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.6.0" targetFramework="net461" />
  <package id="NAudio" version="1.8.5" targetFramework="net461" />
  <package id="Streamcoders.MediaSuite.x64" version="5.1.2416" targetFramework="net461" />
</packages>